*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}
html {
  font-size: 62.5%; //1rem=10px

  @include respond(tab-land) {
    // width < 1200 ?
    font-size: 56.25%; //1rem=9px (9/16)
  }
  @include respond(tab-port) {
    // width < 900 ?
    font-size: 50%; //1rem=8px
  }

  // @include respond(phone) {
  //   // width < 600 ?
  //   font-size: 30%; //1rem=4.8px
  // }

  @include respond(big-desktop) {
    font-size: 75%; //arem = 12px (12/16)
  }
}

body {
  box-sizing: border-box;
  padding: 3rem;

  @include respond(tab-port) {
    padding: 0;
  }
}
